/* Layout Styles */
/* Global layout styles for body and special pages */

@layer base {
  body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: auto;
    background-image: url('/images/background/background.svg');
    background-color: #e8f4f7;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
  }

  .login {
    background-image: url('/images/background/background.svg');
    background-color: #091e24;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}
