@import 'tailwindcss';

/* Import modular CSS variables with integrated Tailwind themes */
@import './src/app/styles/variables/shadcn-colors.css';
@import './styles/variables/sidebar-tokens.css';
@import './src/app/styles/variables/primitive-colors.css';
@import './src/app/styles/variables/nav-colors.css';

/* Tailwind Breakpoints */
@theme {
  /* Custom Breakpoints */
  --breakpoint-mobile: 22.5rem; /* 360px */
  --breakpoint-xs: 29.688rem; /* 475px */
  --breakpoint-tablet: 50rem; /* 800px */
  --breakpoint-mini_laptop: 62.5rem; /* 1000px */
  --breakpoint-laptop: 64rem; /* 1024px */
  --breakpoint-desktop-1280: 80rem; /* 1280px */
  --breakpoint-desktop-1366: 85rem; /* 1366px */
  --breakpoint-desktop-1400: 87.5rem; /* 1400px */
  --breakpoint-desktop-1920: 120rem; /* 1920px */
}
