/* @import url(./youniversity.css); */
@import '../../tailwind.css';

/* Import modular CSS variables */
@import './styles/variables/base-colors.css';
@import './styles/variables/sidebar-colors.css';
@import './styles/variables/project-colors.css';
@import './styles/variables/nav-colors.css';
@import './styles/variables/layout.css';
