/* @import '@youniversityrepo/x4life-button/styles';
@import '@youniversityrepo/x4life-breadcrumb/styles';
@import '@youniversityrepo/x4life-card/styles';
@import '@youniversityrepo/x4life-input/styles';
@import '@youniversityrepo/x4life-loader/styles';
@import '@youniversityrepo/x4life-search-select/styles';
@import '@youniversityrepo/x4life-select/styles';
@import '@youniversityrepo/x4life-typography/styles';
@import '@youniversityrepo/x4life-datatable/styles'; */
