/* Layout Styles */
/* Global layout styles for body and special pages */

@layer base {
  body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: auto;
    background-image: url('/images/background/background.svg');
    background-color: hsl(var(--background-primary));
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
  }

  .login {
    background-image: url('/images/background/background.svg');
    background-color: hsl(var(--background-primary-login));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .sidebar-background {
    /* background-image: url('/images/background/group-sidebar.png'); */
    background-color: hsl(var(--sidebar-background));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: normal;
  }
}

/* Tailwind Breakpoints */
@theme {
  /* Custom Breakpoints */
  --breakpoint-mobile: 22.5rem; /* 360px */
  --breakpoint-xs: 29.688rem; /* 475px */
  --breakpoint-tablet: 50rem; /* 800px */
  --breakpoint-mini_laptop: 62.5rem; /* 1000px */
  --breakpoint-laptop: 64rem; /* 1024px */
  --breakpoint-desktop-1280: 80rem; /* 1280px */
  --breakpoint-desktop-1366: 85rem; /* 1366px */
  --breakpoint-desktop-1400: 87.5rem; /* 1400px */
  --breakpoint-desktop-1920: 120rem; /* 1920px */
}
