name: Build Project

on:
  push:
    branches:
      - 'release/*'

jobs:
  build:
    if: startsWith(github.ref, 'refs/heads/release/')

    runs-on: ubuntu-latest
    steps:
      - name: Monitor disk space
        run: df -h
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          clean: true

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '20.9.0'

      - name: Install project dependencies
        run: yarn install

      - name: Build project
        run: yarn build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: registry.phonix.network
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}

      - name: Set Git identity
        run: |
          git config user.email "soporte@phonix.network"
          git config user.name "SoportePhonix"

      - name: Read package.json and set version
        id: package
        run: |
          VERSION=$(jq -r '.version' package.json)
          echo "::set-output name=version::$VERSION"

      - name: Create a tag with the version from package.json
        run: |
          git tag -a v${{ steps.package.outputs.version }} -m "Version ${{ steps.package.outputs.version }}"
          git push origin v${{ steps.package.outputs.version }}

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: false
          docker-images: false
          swap-storage: true
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            registry.phonix.network/phonix-contact-interactions/phonix-web-interactions-system-service:latest
            registry.phonix.network/phonix-contact-interactions/phonix-web-interactions-system-service:${{ steps.package.outputs.version }}
